
<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="utf-8">
  <title>我的消息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">

  <!--全局样式-->
  <link th:include="common/static :: style" />
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    
    <!--<ul class="layui-nav fly-nav-user">
      &lt;!&ndash; 登入后的状态 &ndash;&gt;
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs">贤心</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
          <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="../user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>-->
    <!--头-->
    <div th:include="common/templates :: header"></div>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">

  <div th:replace="common/_center :: left('message')"></div>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>


  <div class="fly-panel fly-panel-user" pad20>
    <div th:if="${not #lists.isEmpty(pageData.records)}" class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
      <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
      <div  id="LAY_minemsg" style="margin-top: 10px;">

        <ul class="mine-msg" >
          <li th:data-id="${data.id}" th:each="data : ${pageData.records}">

            <blockquote class="layui-elem-quote"  th:if="${data.type == 0}">
              系统消息：<text th:text="${data.content}"></text>
            </blockquote>

            <blockquote class="layui-elem-quote" th:if="${data.type == 1 || data.type == 2}">
              <a th:href="@{'/u/' + ${data.author.id}}" target="_blank"><cite th:text="${data.author.username}"></cite></a>

              <text th:if="${data.type == 1}">评论了您的文章</text>
              <text th:if="${data.type == 2}">回答了您的评论</text>

              <a target="_blank" th:href="@{'/post/' + ${data.post_id}}"><!--/jie/8153.html/page/0/#item-1489505778669-->
                <cite th:text="${data.content}"></cite>
              </a>
            </blockquote>

            <p><span th:text="${data.created}"></span>
              <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a>
            </p>
          </li>
        </ul>

        <div th:if="${not #lists.isEmpty(pageData.records)}" style="text-align: center">
          <div th:include="common/page :: page"></div>
        </div>
      </div>
    </div>

    <div class="fly-none" th:if="${#lists.isEmpty(pageData.records)}">您暂时没有最新消息</div>
  </div>

</div>


<!--尾-->
<div th:include="common/templates :: footer"></div>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>